/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* Basic */
html {
	-webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'nevisBold';
    src: url('../fonts/nevis-webfont.eot');
    src: url('../fonts/nevis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nevis-webfont.woff') format('woff'),
         url('../fonts/nevis-webfont.ttf') format('truetype'),
         url('../fonts/nevis-webfont.svg#nevisBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { 
	background: #FFF; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	color: #333;
}
.clear{ 
	clear:both; 
}
a { 
	color: #61B733;
	text-decoration: none;
}
a:hover { 
	text-decoration: underline;
}
a.blank:hover { 
	text-decoration: none;
}
hr { 
	border:none; 
	border-bottom:3px solid #f3f3f3; 
	margin:10px 0 10px 0;
}
.center { 
	text-align:center; 
}
p, ul, ol { 
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 18px;
	color: #666;
	font-family: Helvetica, Arial, sans-serif;
}
.page_wrap { 
	width: 960px; 
	margin: 0 auto;
}

/* Top Support */
#top_support {
	background: #2f3239;
	height: 24px;
	border-bottom: 1px solid #454951;
	text-align: right;
}
#top_support h5 {
	color: #80848e;
	font-size: 13px;
	font-weight: bold;
	position: relative;
	top: 3px;
}
#top_support h5 a {
	color: #72CB47;
}	
#top_support h5 span {
	color: #FFF;
}

/* Header */
header {
	background: #373b43;
	height: 67px;
}
header h1 { 
	float: left;
	color: #FFF;
	font-size: 22px;
	font-weight: normal;
	font-family: 'nevisBold', Arial, sans-serif;
	top: 20px;
	position: relative;
}
header h1 a {
	color: #FFF;
}
header ul {
	float: right;
	position: relative;
	top: 25px;
}
header ul li {
	float: left;
}
header ul li a { 
	font-size: 15px;
	font-weight: normal;
	font-family: 'nevisBold', Arial, sans-serif;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 30px;
	
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}

/* Masthead */
#masthead { 
	background: #72CB47;
	height: 368px; 
	border-top: 1px solid #9CFF6B;
}
#slider {
	position:relative;
}

#slider #slide_viewport {
	height:368px;
	overflow:hidden;
	position:relative;
	width:960px;
}

#slider #slide_container {
	height:368px;
	left:0;
	overflow:hidden;
	position:relative;
	top:0;
	width:10000px;
	
	-o-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

#slider .slide {
	float:left;
	height:368px;
	width:960px;
}

#slider .slide img {
	vertical-align:middle;
}

#slider #slider_navigation {
	bottom:8px;
	left:0;
	overflow:hidden;
	position:absolute;
	text-align:center;
	width:100%;
}

#slider #slider_navigation a {
	background:url(../img/btn_slide.png) no-repeat -14px 0;
	display:inline-block;
	height:14px;
	width:14px;
	margin-left: 5px;
}

#slider #slider_navigation a.active {
	background-position:0 0;
}

#slider #left_arrow {
	background:url(../img/slider_arrows.png) no-repeat 0 0;
	display:none;
	height:40px;
	left:-50px;
	position:absolute;
	top:150px;
	width:40px;
	
	-o-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

#slider #right_arrow {
	background:url(../img/slider_arrows.png) no-repeat -40px 0;
	display:none;
	height:40px;
	position:absolute;
	right:-50px;
	top:150px;
	width:40px;
	
	-o-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.slide_tagline {
	width: 430px;
	float: left;
}
.slide_tagline h2 {
	font-size: 20px;
	color: #FFF;
	margin-top: 26px;
	line-height: 24px;
}
.slide_tagline p { 
	font-size: 14px;
	line-height: 20px;
	color: #373B43;
	margin-top: 15px;
	font-weight: 500;
}
.slide_tagline a { 
	color: #373B43;
	text-decoration: underline;
}
.slide_img { 
	float: right;
	width: 511px;
	margin-top: 28px;
}


/* Featured */
#featured { 
	background: #f3f3f3;
	overflow: hidden;
	min-height: 500px;
} 
.boxes_fix {
	margin-right: 30px;
}
.featured_boxes { 
	width: 445px;
	background: #FFF;
	float: left;
	padding: 0 10px 10px;
	margin-top: 30px;
	
	-webkit-box-shadow: 0px 1px 3px 0px #cdcecf; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 1px 3px 0px #cdcecf; /* FF3.5 - 3.6 */
    box-shadow: 0px 1px 3px 0px #cdcecf; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
    
    -webkit-border-radius: 6px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
    -moz-border-radius: 6px; /* FF1-3.6 */
    border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    
    -webkit-transition: box-shadow .2s linear, color .2s linear;
	-moz-transition: box-shadow .2s linear, color .2s linear;
	-o-transition: box-shadow .2s linear, color .2s linear;
	-ms-transition: box-shadow .2s linear, color .2s linear;
	transition: box-shadow .2s linear, color .2s linear;
}
.featured_boxes:hover { 	
	-webkit-box-shadow: 0px 0px 5px 0px #72CB47; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 5px 0px #72CB47; /* FF3.5 - 3.6 */
    box-shadow: 0px 0px 5px 0px #72CB47; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
    
    -webkit-border-radius: 6px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
    -moz-border-radius: 6px; /* FF1-3.6 */
    border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}
.featured_boxes h2 {
	color: #666b73;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 22px;
}
.featured_boxes:hover h2 {
	color: #373b43;
}
.featured_boxes .tick {
	background: url(../img/tick.png) no-repeat  top left; 
	display: inline-block; 
	border: none; 
	width: 64px; 
	height: 64px;
	margin-top: 22px;
	margin-left: 12px;
	float: left;
	
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}
.featured_boxes .cross {
	background: url(../img/cross.png) no-repeat  top left; 
	display: inline-block; 
	border: none; 
	width: 64px; 
	height: 64px;
	margin-top: 22px;
	margin-left: 12px;
	float: left;
}
.featured_meta { 
	float: right;
	width: 350px;
}
.featured_meta ul {
  list-style: disc;
  list-style-position: outside;
}
.featured_meta li {
  margin-left: 16px;
  margin-bottom: 1em;
}
.featured_meta li p {
  margin-top: 0.5em;
}
.featured_meta a {
  color: #666b73;
  text-decoration: underline;
}


/* Testimonials */
#testimonials {
	background: #fcfcfc;
	padding-top: 15px;
	
	-webkit-box-shadow: 0px 0px 3px 0px #cdcecf; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 3px 0px #cdcecf; /* FF3.5 - 3.6 */
    box-shadow: 0px 0px 3px 0px #cdcecf; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
#test_bg {
	background: url(../img/test_bg.png) no-repeat;
	width: 960px;
	padding-bottom: 37px;
	margin-bottom: 30px;
}
#test_bg h3 {
	font-size: 18px;
	color: #61B733;
	font-weight: lighter;
	text-align: center;
	position: relative;
	top: 12px;
}

/* Articles */
.article {
  margin-top: 10px;
}
.article h1 {
  color: #373b43;
  font-size: 28px;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.article h2 {
  color: #373b43;
  font-size: 22px;
  margin-top: 2em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #AAA;
}
.article.post h2 {
  border-bottom: none;
}
.article h3 {
  color: #373b43;
  font-size: 16px;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.article ul {
  list-style: disc;
  list-style-position: outside;
}
.article li {
  margin-left: 20px;
}
.article pre {
  padding: 13px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 12px;
  font-family: Menlo, monospace;
  line-height: 16px;
  margin-bottom: 22px; 
  overflow-x: auto;
}
.article pre code {
  font-family: "Menlo", "Courier", monospace;
  background-color: transparent;
  padding: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;  
  font-size: 13px;
}
.article code {
  font-family: "Menlo", "Courier", monospace;
  padding: 1px 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; 
  font-size: 14px;
}

.article ol {
  list-style-type: decimal;
}

.article table.code {
}
.article table.code th {
  padding: 4px;
  border: 1px solid #CCC;
  font-family: "Menlo", "Courier", monospace;
  background-color: #dddddd;
  font-size: 13px;
}
.article table.code td {
  padding: 4px;
  border: 1px solid #CCC;
  font-family: "Menlo", "Courier", monospace;
  font-size: 13px;
}

/* Blog */
.blog_posts h2 {
  border-bottom: none;
}



/* Footer */
footer { 
	background: #373b43;
	padding: 27px 0 12px 0;
	margin-top: 30px;
}
footer ul {
	float: left;
}
footer ul li {
	float: left;
}
footer ul li a {
	font-family: 'nevisBold', Arial, sans-serif;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px dotted #575c66;
	font-size: 12px;
	
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
}
footer p { 
	color: #a0a5b0;
	float: right;
}


/* Media for anything with a max width of 960px. Mostly large tablets such as the iPad */
@media (min-width: 768px) and (max-width: 960px) {
    .page_wrap {
        margin:0 auto;
        width:748px;
    }
    
    #slider {
    	padding-bottom: 25px;
    }

    #slider img, embed, object, video {
        max-width:100%;
    }

    #masthead {
        height:auto;
        overflow:hidden;
    }

    #slider #slide_viewport {
        height:auto;
        width:100%;
    }

    #slider #slide_container {
        height:auto;
    }

    #slider .slide {
        height:auto;
        padding:10px;
        width:728px;
    }

    #slider .slide_img {
        float:none;
        margin:0 auto;
    }

    #slider .slide_tagline {
        margin:0 auto 35px;
        width: 740px;
    }
    #featured {
    	padding-bottom: 10px;
    }
    .featured_boxes {
        float:none;
        margin: 10px auto 0;
        overflow:hidden;
    }

    #test_bg {
        padding-left:70px;
        text-align:left;
        width:678px;
        background-position: 0 10px;
    }

    #test_bg h3 {
        text-align:left;
    }
}

/* Media for anything with a max width of 767px. Mostly small tablets and iPhones & Smartphones */
@media (min-width: 0px) and (max-width: 767px) {
    .page_wrap {
        width:100%;
    }

    #top_support {
        text-align:center;
    }

    header {
        height:auto;
        overflow:hidden;
        padding:15px 0;
    }

    header h1 {
        float:none;
        margin:0 auto 10px;
        top:0;
    }

    header ul {
        float:none;
        margin:0 auto;
        overflow:hidden;
        position:static;
        top:0;
        width:335px;
    }

    header ul li a {
        margin-left:7px;
    }

    #masthead {
        height:auto;
        overflow:hidden;
    }

    #slider .slide img {
        display:none;
    }

    #slider #slide_viewport {
        height:auto;
        width:100%;
    }

    #slider #slide_container {
        height:auto;
    }

    #slider .slide {
        height:auto;
        margin-left:50px;
        padding:10px;
        width:320px;
    }

    #slider .slide:first-child {
        margin-left:0;
    }

    #slider .slide_tagline {
        margin:0 auto;
        width:300px;
    }
    .featured_meta {
        width:100%;
    }

    #testimonials div {
        width:300px;
    }
    
    footer ul {
        float:none;
        margin:0 auto 10px;
        overflow:hidden;
        width:305px;
    }
    footer ul li:last-child a {
    	border-right: none;
    	margin-right: 0;
    	padding-right: 0;
    } 

    footer p {
        float:none;
        width:280px;
        margin:0 auto;
    }
}


