<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{sourceThread}] %-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="WEBLOG" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>WEBLOG: %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.mashupbots.socko.utils.WebLogWriter" level="info" additivity="false">
    <appender-ref ref="WEBLOG" />
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>