<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Socko - a lightweight Scala web server</title>
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="/assets/css/ie7.css" type="text/css" media="screen" />
	<![endif]-->
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>
<body>

<!--Top Support-->
	<div id="top_support">
		<div class="page_wrap">
      <h5><a href="https://github.com/mashupbots/socko">Check Socko out on GitHub</a></h5>
		</div><!--/page wrap-->
	</div><!--/top support-->
<!--/Top Support-->
	
<header>
<div class="page_wrap">
  <h1>Socko - a lightweight Scala web server</h1>
  <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="https://github.com/mashupbots/socko/blob/master/README.md">About</a></li>
    <li><a href="/docs.html">Documentation</a></li>
    <li><a href="https://github.com/mashupbots/socko">GitHub</a></li>
  </ul>
  </nav>
</div><!--/page wrap-->
</header>
	
<article>
<div class="page_wrap">
  {{ content }}
</div><!--/page wrap-->
</article>

<footer>
<div class="page_wrap">
  <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="https://github.com/mashupbots/socko/blob/master/README.md">About</a></li>
    <li><a href="/docs.html">Documentation</a></li>
    <li><a href="https://github.com/mashupbots/socko">GitHub</a></li>
  </ul>
  </nav>
  <p>Copyright 2012 Vibul Imtarnasan and David Bolton</p>
  <div class="clear"></div>
</div><!--/page wrap-->
</footer>
	

</body>
</html>
