<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title>{{ page.title }}</title>
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="/assets/css/ie7.css" type="text/css" media="screen" />
	<![endif]-->
  <link rel="alternate" type="application/atom+xml" title="Atom" href="http://sockoweb.orb/blog/rss.xml">
	<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/pygments.css" type="text/css" />
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30679101-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<!--Top Support-->
	<div id="top_support">
		<div class="page_wrap">
      <h5><a href="https://github.com/mashupbots/socko">Check Socko out on GitHub</a></h5>
		</div><!--/page wrap-->
	</div><!--/top support-->
<!--/Top Support-->
	
  <header>
    <div class="page_wrap">
      <h1><a href="/">SOCKO WEB SERVER</a></h1>
      <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/features.html">Features</a></li>
        <li><a href="/download.html">Download</a></li>
        <li><a href="/docs.html">Documentation</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
      </nav>
    </div>
  </header>

  {{content}}

  <footer>
    <div class="page_wrap">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/features.html">Features</a></li>
        <li><a href="/download.html">Download</a></li>
        <li><a href="/docs.html">Documentation</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
      <p>&copy; 2012 <a href="https://github.com/veebs">Vibul</a>, <a href="https://github.com/lightningdb">David</a> &amp; <a href="https://github.com/mashupbots/socko/contributors">Socko Contributors</a></p>
      <div class="clear"></div>
    </div><!--/page wrap-->
  </footer>
</body>
</html>
